
div.searchbar {
    border-width: 2px;
    border-color: blue;
    border-style: dashed;

    display: flex;
    width: 50%;
    height: 30px;
    padding: 5px;
}

.searchbar input[type=text] {
    width: 100%
}

.searchbar button {
    float: right;
    width: 30px
}
