
<div class="admin-product">
	Name: @Product.Name <br />
	Cost: $@Product.Cost <br />
	Description: @Product.Description <br />
	<br />
	Count: @Product.Count <button @onclick="@(()=>m_IsUpdateingProduct = true)">Update</button>
	
	@if(m_IsUpdateingProduct)
	{
		<UserInputForm Object="m_Model" OnValidFormSubmit="OnProductModelSubmited" />
	}
</div>

@code {
	private bool m_IsUpdateingProduct = false;

	[Parameter, EditorRequired]
	public ProductInfo Product { get; set; } = null!;

	[Parameter, EditorRequired]
	public Action OnProductUpdated { get; set; } = null!;

	private ProductCountModel m_Model = new ProductCountModel();

	protected override void OnParametersSet()
	{
		m_Model.Count = Product.Count;
	}

	private void OnProductModelSubmited(ProductCountModel model)
	{
		WebsiteDatabase.UpdateProductCount(Product.ID, model.Count);
	}

	class ProductCountModel
	{
		public int Count { get; set; }
	}
}
