
<div class="products-grid">
	@foreach (ProductInfo product in Products)
	{
		<div class="grid-element">
			<ProductCard Product="product" OnStateChanged="@(() => {StateHasChanged(); OnGridUpdated?.Invoke();})" />
		</div>
	}
</div>

@code {
	[Parameter, EditorRequired]
	public List<ProductInfo> Products { get; set; } = new List<ProductInfo>();

	[Parameter]
	public Action? OnGridUpdated { get; set; } = null;
}
