
<div class="product-card">
	<h1>@(Product.Name)</h1>
	<p class="price">$@(Product.Cost)</p>
	<p>@(Product.Description)</p>
	<p><button @onclick="OnAddedToCart">Add to Cart</button></p>
</div>

@code {
	[Parameter, EditorRequired]
	public ProductInfo Product { get; set; } = null!;

	private void OnAddedToCart()
	{
		Console.WriteLine($"Product added to cart: {Product.Name}");
	}
}
