.product-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    padding: 5px;
    text-align: center;
    font-family: arial;
    border-radius: 10px;
}

.product-card .price {
    color: grey;
    font-size: 22px;
}

.product-card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #333;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
}

.product-card button.product-in-cart {
    background-color: #04AA6D;
    color: white;
}

.product-card button:hover {
    background-color: #ddd;
    color: black;
}
