
div.searchbar {
    display: flex;
    height: 30px;
    padding: 5px;
}

.searchbar input[type=text] {
    width: 100%
}

.searchbar button {
    float: right;
    width: 30px;
    padding: 0;
}

.searchbar button img {
    width: 25px;
    height: 25px;
    margin: 0px;
}
