@page "/CartPage"
@using SQLInjectionTestWebsite.Shared
@using SQLInjectionTestWebsite.Shared.Components;

<NavBar CurrentPageName="Cart"></NavBar>
<h3>Cart:</h3>
@if(m_CartProducts.Count > 0)
{
	<ProductGrid Products="m_CartProducts" OnGridUpdated="@(()=>{OnParametersSet();StateHasChanged();})"/>
	<button @onclick="OnCheckout">Checkout</button>
}
else
{
	<p>Cart is empty.</p>
}

@code {
	private List<ProductInfo> m_CartProducts = new List<ProductInfo>();

	protected override void OnParametersSet()
	{
		Store.CurrentUser.Match(ok =>
		{
			m_CartProducts = CartItemParser.ParseProducts(ok.CartItems);
		});
	}

	private void OnCheckout()
	{
		
	}
}
