@page "/"
@using SQLInjectionTestWebsite.Shared
@using SQLInjectionTestWebsite.Shared.SQL
@inject NavigationManager Navigation;

<NavBar CurrentPageName="Home"></NavBar>

<div id="searchbar">
	<SearchBar OnMessageSearched = "OnSearchProduct"/>
</div>

<button @onclick="CreateDatabase">Create Database</button>

@code {
	void OnSearchProduct(string name)
	{
		Navigation.NavigateTo("/ProductPage/" + name);
	}

	struct Car
	{
		public readonly string Name;
		public readonly int Count;

		public Car(string n, int c)
		{
			Name = n;
			Count = c;
		}
	}

	void CreateDatabase()
	{
		string db = "Test";

		string tableCommand1 = @"DROP TABLE IF EXISTS cars";

		string tableCommand2 = "CREATE TABLE cars(name TEXT, count INT)";
		string tableCommand3 = "INSERT INTO cars(name, count) VALUES('Honda', 5)";

		string readCommand = @"SELECT * FROM cars";

		SQLUtils.ExecuteCommand(db, tableCommand1);
		SQLUtils.ExecuteCommand(db, tableCommand2);
		SQLUtils.ExecuteCommand(db, tableCommand3);
		var cars = SQLUtils.ExecuteReadCommand(db, readCommand, (reader) =>
		{
			return new Car(reader.GetString(0), reader.GetInt32(1));
		});

		foreach (Car car in cars)
			Console.WriteLine($"{car.Name}: {car.Count}");
	}
}
