@page "/"
@using SQLInjectionTestWebsite.Shared
@using SQLInjectionTestWebsite.Shared.Components
@using SQLInjectionTestWebsite.Shared.SQL
@using System.Data.SQLite
@using System.Reflection;
@inject NavigationManager Navigation;

<NavBar CurrentPageName="Home"></NavBar>

<div id="searchbar">
	<SearchBar OnMessageSearched = "OnSearchProduct"/>
</div>

<button @onclick="OnClearStoreDatabase">Clear Store Database</button>
<button @onclick="@(() => Console.WriteLine(Store.CurrentUser.Value.CartItems))">Print Cart</button>
<button @onclick="@(() => WebsiteDatabase.UpdateAccountCart(Store.CurrentUser.Value.UserName, Store.CurrentUser.Value.Password, ""))">Clear Cart</button>

@code {
	void OnSearchProduct(string name)
	{
		Navigation.NavigateTo("/ProductPage/" + name);
	}

	void OnClearStoreDatabase()
	{
		SQLiteDatabase database = new SQLiteDatabase(WebsiteDatabase.DatabaseName);
		database.DropTable(WebsiteDatabase.ProductsTableName);
		database.DropTable(WebsiteDatabase.AccountsTableName);
	}

	private static SQLiteConnection GetConnection(string databaseName)
	{
		string location = Assembly.GetExecutingAssembly().Location;
		string? folder = Path.GetDirectoryName(location);
		string uri = $"{folder}\\{databaseName}.db";
		return new SQLiteConnection($"URI=file:{uri}");
	}
}
