@page "/"
@using SQLInjectionTestWebsite.Shared
@using SQLInjectionTestWebsite.Shared.SQL
@inject NavigationManager Navigation;

<NavBar CurrentPageName="Home"></NavBar>

<div id="searchbar">
	<SearchBar OnMessageSearched = "OnSearchProduct"/>
</div>

<button @onclick="CreateDatabase">Create Database</button>

@code {
	void OnSearchProduct(string name)
	{
		Navigation.NavigateTo("/ProductPage/" + name);
	}

	[SQLSerializeableObject]
	struct Car
	{
		[SQLSerializeableField]
		public string Name;

		[SQLSerializeableField]
		public int Count;

		public Car(string n, int c)
		{
			Name = n;
			Count = c;
		}
	}

	void CreateDatabase()
	{
		SQLiteDatabase database = new SQLiteDatabase("Test");
		Car[] cars = new Car[] { new Car("Ford", 15), new Car("Prius", 20), new Car("Farari", 2), new Car("Tesla", 10) };

		string deleteCommand = "DELETE FROM cars";
		database.ExecuteCommand(deleteCommand);

		database.SerializeObjects("cars", cars);

		List<Car> list = database.DeserializeObjects<Car>("SELECT * FROM cars");

		foreach (Car car in list)
			Console.WriteLine($"{car.Name}: {car.Count}");
	}
}
