@page "/ProductPage/{SearchedProduct}"
@using SQLInjectionTestWebsite.Shared;
@using SQLInjectionTestWebsite.Shared.Components;
@inject NavigationManager Navigation;

<NavBar CurrentPageName="None"></NavBar>
<SearchBar OnMessageSearched="OnSearch"/>

<div class="products-grid">
	@foreach(ProductInfo product in m_Products)
	{
		<div class="grid-element">
			<ProductCard Product="product" />
		</div>
	}
</div>

@code {
	[Parameter]
	public string SearchedProduct { get; set; } = "";
	private List<ProductInfo> m_Products = null!;

	public void OnSearch(string name)
	{
		Navigation.NavigateTo("/ProductPage/" + name);
	}

	protected override void OnParametersSet()
	{
		m_Products = WebsiteDatabase.SearchProducts(SearchedProduct);
	}
}
