@page "/ProductPage/{SearchedProduct}"
@using SQLInjectionTestWebsite.Shared;
@using SQLInjectionTestWebsite.Shared.Components;
@inject NavigationManager Navigation;

<NavBar CurrentPageName="None"></NavBar>
<SearchBar OnMessageSearched="OnSearch"/>

<h3>ProductPage</h3>

@code {
	[Parameter]
	public string SearchedProduct { get; set; } = "";

	public void OnSearch(string name)
	{
		Navigation.NavigateTo("/ProductPage/" + name);
	}

	protected override void OnParametersSet()
	{
		
	}
}
