@page "/ProductPage/{SearchedProduct}"
@using SQLInjectionTestWebsite.Shared;
@inject NavigationManager Navigation;

<SearchBar OnMessageSearched="OnSearch"/>

<h3>ProductPage</h3>
<ul>
	@foreach(StoreProduct product in products)
	{
		<li>@product.Name:@product.Count</li>
	}
</ul>

@code {
	[Parameter]
	public string SearchedProduct { get; set; } = "";

	private List<StoreProduct> products = new List<StoreProduct>();

	public void OnSearch(string name)
	{
		Navigation.NavigateTo("/ProductPage/" + name);
	}

	protected override void OnParametersSet()
	{
		products = StoreRegistrySearcher.SearchForProducts(Store.Registry, SearchedProduct);
	}
}
