@page "/SignInPage"
@using SQLInjectionTestWebsite.Shared
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Forms;
@using SQLInjectionTestWebsite.Shared.Utils
@using SQLInjectionTestWebsite.Shared.Components;

<NavBar CurrentPageName="Sign In"></NavBar>
<h3>SignInPage</h3>

@if(m_IsSignedIn)
{
	<div>
		<button @onclick="OnSignOut">Sign Out</button>
	</div>
}
else
{
	<AccountCreator OnValidAccountCreated="OnValidAccountCreated" />
}

@Store.CurrentUser.HasValue().ToString()

@code {
	private bool m_IsSignedIn => Store.CurrentUser.HasValue();

	void OnSignOut()
	{
		Store.CurrentUser = new Option<AccountInfo>();
	}

	void OnValidAccountCreated(AccountInfo info)
	{
		Store.CurrentUser = new Option<AccountInfo>(info);
		StateHasChanged();
	}
}
